$myColor: red;

.registrationFormWrappersa {
    width: 100%;
    .fieldsContainers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.popupContainer {
    background-color: white;
    margin: 120px auto 0 auto;
    padding: 58px 0px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    text-align: center;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.customButton {
    padding: 7px 23px;
    background: white;
    border: 1px solid #557ac1;
    color: #557ac1;
    cursor: pointer;
    border-radius: 20px;
    margin: 0px 7px;
    transition: 0.3s;
    &:hover {
        background: #557ac1;
        color: white;
    }
}

.input {
    margin: 10px 0 !important;
}