.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 66px;
    z-index: 10000000000;
        
    .logo {
        background-image: url('../imgs/logo.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 66px;
        height: 66px;
        cursor: pointer;
    }
}

.landingContainer {
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-image: url('../imgs/hardware.png');
    .contentContainer {
        width: 90%;
        background: white;
        border-radius: 20px;
        margin: auto;
        background-image: url('../imgs/solar.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right;
        .solar-img {
            width: 100%;
            height: 100%;
            background: #ffffff6b;
            border-radius: 22px;
        }
        .info {
            padding: 60px 132px;
        }

        .mainInfoContainer {
            width: 65%;
            font-size: 18px;
            margin-top: 80px;
            font-family: system-ui;
        }

    }
}


.landingImageProvider {
    width: 100%;
    height: 100%;
    background: #ffffff6b;
    padding-top: 120px;
    min-height: 100vh;
    padding-bottom: 45px;
}

.dgData {
    width: 90vw;
    background: white;
    margin: 72px auto 0 auto;
    border-radius: 22px;
    padding: 20px 0;
    h1 {
        text-align: center;
    }
    .img-1, .img-2, .img-3, .img-4 {
        width: 100%;
        background-repeat: no-repeat;
        height: auto;
        background-position: center;
        background-size: cover;
        background-size: contain;
        height: 200px;
        margin: 50px 0;
    }
    .img-1 {
        background-image: url('../imgs/1.png');
        height: 218px;
    }
    .img-2 {
        background-image: url('../imgs/2.png');
        height: 184px;
    }
    .img-3 {
        background-image: url('../imgs/3.png');
    }
    .img-4 {
        background-image: url('../imgs/4.png');
    }
}

h1 {
    color: #557ac1;
    font-family: monospace;
}