.messageCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 60px;
    padding: 41px;
    .messageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 2px 2px 20px 4px #0000001c;
        padding: 20px;
        border-radius: 22px;
        width: 300px;
        .messageKey, .messageValue {
            height: 30px;
            font-size: 16px;
        }
        .messageKey {
            font-weight: bold;
        }
    }
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}